# ABDUL REHMAN
## E-mail: a.rehmanmemon.034@gmail.com
### Date Of Submission: 08/04/2023

#Task 16

Tooics: Combining and Merging Datasets, Reshaping Data

Resource: https://drive.google.com/file/d/1ILp88f3u_KgJ_nlhTSsAVGdmZlICGhhd/view?usp=share_link

In [1]:
#merging two datasets:
import pandas as pd

# Create two dataframes
df1 = pd.DataFrame({'id': [1, 2, 3, 4],
                    'name': ['John', 'Mary', 'Joe', 'Emma']})
df2 = pd.DataFrame({'id': [1, 2, 4, 5],
                    'age': [30, 25, 40, 35]})

# Merge the dataframes using 'id' column as the key
merged_df = pd.merge(df1, df2, on='id')
merged_df

   id  name  age
0   1  John   30
1   2  Mary   25
2   4  Emma   40

In [2]:
# Concatenate the dataframes
concat_df = pd.concat([df1, df2])
concat_df

   id  name   age
0   1  John   NaN
1   2  Mary   NaN
2   3   Joe   NaN
3   4  Emma   NaN
0   1   NaN  30.0
1   2   NaN  25.0
2   4   NaN  40.0
3   5   NaN  35.0

In [3]:
# Create a dataframe
df = pd.DataFrame({'id': [1, 2, 3, 4],
                   'variable': ['A', 'A', 'B', 'B'],
                   'value': [10, 20, 30, 40]})

# Reshape the dataframe from long to wide format
wide_df = df.pivot(index='id', columns='variable', values='value')
wide_df

variable     A     B
id
1         10.0   NaN
2         20.0   NaN
3          NaN  30.0
4          NaN  40.0

In [4]:
df = pd.DataFrame({'id': [1, 2, 3, 4],
                   'A': [10, 20, 30, 40],
                   'B': [50, 60, 70, 80]})

# Reshape the dataframe from wide to long format
long_df = pd.melt(df, id_vars='id', var_name='variable', value_name='value')
long_df

   id variable  value
0   1        A     10
1   2        A     20
2   3        A     30
3   4        A     40
4   1        B     50
5   2        B     60
6   3        B     70
7   4        B     80

In [5]:
df1 = pd.DataFrame({'id': [1, 2, 3, 4],
                    'name': ['John', 'Mary', 'Joe', 'Emma']})
df2 = pd.DataFrame({'id': [1, 2, 4, 5],
                    'age': [30, 25, 40, 35]})

# Combine the dataframes using an outer join
combined_df = pd.merge(df1, df2, on='id', how='outer')
combined_df

   id  name   age
0   1  John  30.0
1   2  Mary  25.0
2   3   Joe   NaN
3   4  Emma  40.0
4   5   NaN  35.0

In [6]:
df1 = pd.DataFrame({'id': [1, 2, 3, 4],
                    'name': ['John', 'Mary', 'Joe', 'Emma']})
df2 = pd.DataFrame({'id': [1, 2, 4, 5],
                    'age': [30, 25, 40, 35]})

# Combine the dataframes using an inner join
combined_df = pd.merge(df1, df2, on='id', how='inner')
combined_df

   id  name  age
0   1  John   30
1   2  Mary   25
2   4  Emma   40

# The End 😃